<div class="flex items-center justify-center flex-col md:flex-row">
    <h1 class="text-4xl font-extrabold dark:text-white mb-5 flex-1 w-100 lg:w-100 lg:flex-1">Pokémons list
    </h1>

    <!-- Filtro Input-->
    <app-filter (filterPokemon)="onFilter($event)"></app-filter>

</div>
<!-- Table Pokemons list -->
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <ng-template [ngIf]="(pokemons | filtro:page:filterValue).length" [ngIfElse]="emtyList">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Id
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Picture
                    </th>

                    <th scope="col" class="px-6 py-3">
                        Detail
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokemons | filtro:page:filterValue"
                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="px-6 py-4">
                        {{pokemon.id}}
                    </th>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{pokemon.name}}
                    </td>
                    <td class="px-6 py-4">
                        <img [src]="pokemon.urlImg"
                            onerror="this.onerror=null; this.src='https://cdn.iconscout.com/icon/free/png-256/pokemon-pokeball-pikachu-thunder-electric-shock-32217.png'"
                            class="rounded-full w-[80px] h-[80px]" alt="">

                    </td>
                    <td class="px-6 py-4 text-center">
                        <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline"><i
                                class="fa-solid fa-eye"></i> View</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </ng-template>
    <ng-template #emtyList>
        <div class="w-100 text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400 p-10">
            <h1 class="text-center">No records found</h1>
        </div>
    </ng-template>

</div>


<!-- Pagination -->
<div class="flex mt-5 flex-col items-center">
    <!-- Help text -->
    <span class="text-sm text-gray-700 dark:text-gray-400" *ngIf="(pokemons | filtro:page:filterValue).length">
        Showing <span class="font-semibold text-gray-900 dark:text-white">{{page + 1}}</span> to <span
            class="font-semibold text-gray-900 dark:text-white">{{page + offset}}</span> of <span
            class="font-semibold text-gray-900 dark:text-white">{{totalEntries}}</span> Entries -
        <span class="font-semibold text-gray-900 dark:text-white">{{totalPage}}</span> Pages
    </span>
    <span class="text-sm text-gray-700 dark:text-gray-400" *ngIf="!(pokemons | filtro:page:filterValue).length">
        Showing <span class="font-semibold text-gray-900 dark:text-white">0</span> to <span
            class="font-semibold text-gray-900 dark:text-white">0</span> of <span
            class="font-semibold text-gray-900 dark:text-white">0</span> Entries -
        <span class="font-semibold text-gray-900 dark:text-white">0</span> Pages
    </span>
    <div class="inline-flex mt-2 xs:mt-0">
        <!-- Buttons -->
        <button
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white gap-2"
            (click)="prevPage()">
            <i class="fa-solid fa-left-long"></i> Prev
        </button>
        <button
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-white bg-gray-800 border-0 border-l border-gray-700 rounded-r hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white gap-2"
            (click)="nextPage()" [disabled]="!(pokemons | filtro:page:filterValue).length">
            Next <i class="fa-solid fa-right-long"></i>

        </button>
    </div>
</div>