<!-- <div class="card relative pt-36 bg-gradient-to-r from-blue-400 to-emerald-400 rounded-3xl">
    <h4 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white text-center absolute top-5 left-3">
        Lechonk</h4>
    <span class="bg-slate-800/75 p-1 rounded-xl z-30 absolute right-2 top-2">Fire</span>
    <div class="absolute top-0 left-6 w-[250px] h-[250px] z-50">
        <img src="https://scarletviolet.pokemon.com/_images/pokemon/lechonk/pokemon-lechonk.png" class="drop" alt="">
    </div>
    <img src="https://icon-library.com/images/pokeball-icon-transparent/pokeball-icon-transparent-28.jpg"
        class="absolute right-1 top-3 w-28 opacity-40" alt="">
    <div
        class="max-w-sm p-6 bg-white border border-gray-200 rounded-3xl shadow-md dark:bg-gray-800 dark:border-gray-700 mt-10">
        <h6 class="text-xl font-bold tracking-tight text-gray-900 dark:text-white text-left">
            About
        </h6>
        <hr>


        <ul class="max-w-md mt-5 space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
            <li>
                <b>Species: </b>
            </li>
            <li>
                <b>Height: </b>
            </li>
            <li>
                <b>Weight: </b>
            </li>
            <li>
                <b>Abilities: </b>
            </li>
        </ul>


    </div>

</div> -->


<div class="w-full max-w-sm bg-white rounded-lg shadow-md bg-gradient-to-r from-blue-400 to-emerald-400">
    <div class=" rounded-t-lg">
        <img class="p-8 drop" src="https://scarletviolet.pokemon.com/_images/pokemon/lechonk/pokemon-lechonk.png"
            alt="product image" />
    </div>
    <div class="px-5 pb-5 rounded-lg dark:bg-gray-800 dark:border-gray-700 pt-5">
        <h2 class="text-2xl font-semibold tracking-tight text-gray-900 dark:text-white">Lechonk</h2>

        <ul class="max-w-md mt-5 space-y-1 text-gray-500 list-none list-inside dark:text-gray-400">
            <li>
                <b>Species: </b>
            </li>
            <li>
                <b>Height: </b>
            </li>
            <li>
                <b>Weight: </b>
            </li>
            <li>
                <b>Abilities: </b>
            </li>
        </ul>
    </div>
</div>